<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
      <%- title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>
  
  <body>
    <div class="d-flex">
      <div class="sidebar d-flex flex-column">
        <nav class="menu">
          <a href="#"><img
              src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8a71940d3cd9c932e7126e75e093f68f3a861b79/week5/logo-ANSWER.svg"
              alt="" class="d-block ps-4 mb-5"></a>
          <ul class="item d-flex flex-column p-0">
            <li class="answer-item mb-4 fw-bolder d-inline-block">
              <a href="#" class="ps-4">
                <h7 class="answer-link"><span class="material-icons align-bottom me-3">assessment</span>Dashboard</h7>
              </a>
            </li>
            <li class="answer-item mb-4 fw-bolder d-inline-block">
              <a href="#" class="ps-4">
                <h7 class="answer-link"><span class="material-icons align-bottom me-3">question_answer</span>Question</h7>
              </a>
            </li>
            <li class="answer-item mb-4 fw-bolder d-inline-block">
              <a href="#" class="ps-4">
                <h7 class="answer-link"><span class="material-icons align-bottom me-3">assignment</span>Assignment</h7>
              </a>
            </li>
            <li class="answer-item mb-4 fw-bolder d-inline-block">
              <a href="#" class="ps-4">
                <h7 class="answer-link"><span class="material-icons align-bottom me-3">video_library</span>Course</h7>
              </a>
            </li>
            <li class="answer-item mb-4 fw-bolder d-inline-block">
              <a href="#" class="ps-4 py-2">
                <h7 class="answer-link"><span class="material-icons align-bottom me-3">people</span>Admin</h7>
              </a>
            </li>
            <li class="answer-item mb-4 fw-bolder d-inline-block">
              <a href="#" class="ps-4">
                <h7 class="answer-link"><span class="material-icons align-bottom me-3">settings</span>Settings</h7>
              </a>
            </li>
          </ul>
        </nav>
        <div class="person d-flex ps-4">
          <a href="#" class="p-1"><img
              src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true" alt=""
              class="avatar-img d-inline-block me-3"></a>
          <div class="person-name">
            <h7 class="fw-bolder">Andy Chen</h7>
            <p class="person-mail">andy0401@mail.com</p>
          </div>
        </div>
      </div>
    <%- contents %>
    </div>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>